[alias]
    st = status
    co = checkout
    b = branch
    aa = add --all
    dh = diff HEAD
    r = reset
[diff]
    external = ~/bin/git-diff
    prompt = false
	tool = Kaleidoscope
[user]
    name = Simon Mathieu
	email = simon.mathieu@lookout.com
    username = smathieu
[colors]
    ui = 1
[color]
    ui = 1
[difftool "Kaleidoscope"]
	cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[core]
	excludesfile = ~/bin/.gitignore_global
