[alias]
    st = status
    co = checkout
    b = branch
    aa = add --all
    dh = difftool HEAD
    dt = difftool
    r = reset
[diff]
	tool = Kaleidoscope
	algorithm = patience
[difftool]
	prompt = false
[difftool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args \"$LOCAL\" \"$REMOTE\"
[user]
    name = Simon Mathieu
	email = simon.mathieu@shopify.com
    username = smathieu
[colors]
    ui = 1
[color]
    ui = 1
[core]
	excludesfile = ~/bin/.gitignore_global
	commitGraph = true
[difftool "Kaleidoscope"]
	cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
[protocol]
	version = 2
[credential]
	helper = osxkeychain
[gc]
	writeCommitGraph = true
